<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TV-Shows</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.js" type="text/javascript"></script>
    <script src="js/application/controllers/maincontrollershows.js"></script>
    <script src="js/application/scroll.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="public/pages/css/movies.css">



</head>
<body class="container" ng-app="shows" ng-controller="maincontrollershows" >

   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"></p>FILMOSTAT</a>

      </div>
      <a class="navbar-brand" href="#" style="font-family:courier;"><p class="fa fa-television"></p> TV SHOWS</a>
      <div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" style="font-family:courier;font-size:18px">
              <li><a href="#det_1" >Trending</a></li>
              <li><a href="#det_2">Anticipated</a></li>
              <li><a href="#det_3">Popular</a></li>
              <li><a href="#det_4">Archived</a></li>
              <li><a href="#det_5">Most Watched</a></li>
          </ul>
      </div>

  </div>
</div>
</nav>


<div class = "panel panel-info" id="det_1">
 <div class = "panel-heading">
  <h3 class = "panel-title">TRENDING</h3>
</div>

<div class = "panel-body" ng-init="init_trend()">
   <div class="alfa-left img-circle img-responsive" id="betacomp1">
     <table class="table table-hover "> <tr class="jumbotron"><th colspan="2">LIST OF TRENDING TV SHOWS</th></tr>
         <tr class="jumbotron"><th>TV SHOW</th> <th>RELEASE YEAR</th></tr>
         <tr ng-repeat="i in finallist_trend"><td >{{i.trend_title}} </td><td>{{i.trend_year}}</td></tr>
     </table>
     <span class="fa fa-list-ol" id="det_1_ic1"></span>
 </div>

 <div class="alfa-right img-circle img-rounded img-responsive" id="betacomp2" >
    <span  class="chart" google-chart chart="trend_chartObject"></span>
    <span class="fa fa-line-chart" id="det_1_ic2"></span>
</div>
</div>
</div>

<div class = "panel panel-info" id="det_2">
 <div class = "panel-heading">
  <h3 class = "panel-title">ANTICIPATED</h3>
</div>

<div class = "panel-body" id="beta" ng-init="init_anticipated()">
   <div class="alfa-left img-circle img-responsive" id="betacomp3">
     <table class="table table-hover ">
         <tr class="jumbotron"><th colspan="2">LIST OF MOST ANTICIPATED TV SHOWS</th></tr>
         <tr class="jumbotron"><th>TV SHOW</th> <th>EXPECTED IN YEAR</th></tr>
         <tr ng-repeat="i in finallist_anticipated"><td >{{i.anticipated_title}}</td><td>{{i.anticipated_year}}</td></tr>
     </table>
     <span class="fa fa-list-ol" id="det_2_ic1"></span>
 </div>

 <div class="alfa-right img-circle img-rounded img-responsive" id="betacomp4" >
    <span  class="chart" google-chart chart="anticipated_chartObject"></span>
    <span class="fa fa-line-chart" id="det_2_ic2"></span>
</div>
</div>
</div>

<div class = "panel panel-info" id="det_3">
 <div class = "panel-heading">
  <h3 class = "panel-title">POPULAR</h3>
</div>

<div class = "panel-body" id="beta" ng-init="init_popular()">

 <div class="alfa-left img-circle img-responsive" id="betacomp5">
     <table class="table table-hover ">
         <tr class="jumbotron"><th colspan="2">LIST OF MOST POPULAR TV SHOWS</th></tr>
         <tr class="jumbotron"><th>TV SHOW</th> <th>RELEASED IN YEAR</th></tr>
         <tr ng-repeat="i in finallist_popular"><td >{{i.popular_title}}</td><td>{{i.popular_year}}</td></tr>
     </table>
     <span class="fa fa-list-ol" id="det_3_ic1"></span>
 </div>

</div></div>

<div class = "panel panel-info" id="det_4">
 <div class = "panel-heading">
  <h3 class = "panel-title">ARCHIVED</h3>
</div>

<div class = "panel-body" id="beta" ng-init="init_collect()">

 <div class="alfa-left img-circle img-responsive" id="betacomp6">
     <table class="table table-hover ">
         <tr class="jumbotron"><th colspan="2">LIST OF MOST POPLARLY ARCHIVED TV SHOWS</th></tr>
         <tr class="jumbotron"><th>TV SHOW</th> <th>RELEASED IN YEAR</th></tr>
         <tr ng-repeat="i in finallist_collect"><td >{{i.collect_title}}</td><td>{{i.collect_year}}</td></tr>
     </table>
     <span class="fa fa-list-ol" id="det_4_ic1"></span>
 </div>
 <div class="alfa-right img-circle img-rounded img-responsive" id="betacomp7" >
    <span  class="chart" google-chart chart="collect_chartObject"></span>
    <span class="fa fa-line-chart" id="det_4_ic2"></span>
</div>
</div>
</div>

<div class = "panel panel-info" id="det_5">
 <div class = "panel-heading">
  <h3 class = "panel-title">MOST WATCHED</h3>
</div>

<div class = "panel-body" id="beta" ng-init="init_boxoffice()">

 <div class="alfa-left img-circle img-responsive" id="betacomp8">
     <table class="table table-hover ">
         <tr class="jumbotron"><th colspan="2">LIST OF MOST WATCHED TV SHOWS LAST WEEK</th></tr>
         <tr class="jumbotron"><th>TV SHOW</th> <th>RELEASED IN YEAR</th></tr>
         <tr ng-repeat="i in finallist_boxoffice"><td >{{i.boxoffice_title}}</td><td>{{i.boxoffice_year}}</td></tr>
     </table>
     <span class="fa fa-list-ol" id="det_5_ic1"></span>
 </div>

 <div class="alfa-right img-circle img-rounded img-responsive" id="betacomp9" >
    <span  class="chart" google-chart chart="boxoffice_chartObject"></span>
    <span class="fa fa-line-chart" id="det_5_ic2"></span>
</div>
</div>
</div>

 <footer>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">


      <text class="fa fa-cog fa-spin" style="color:yellow"> </text> Built by: <i> Satish Chandra Palakoti | <a href="https://www.linkedin.com/in/palakotisatishchandra" class="fa fa-linkedin-square"></a> | <a href="mailto:palakoti1244@hotmail.com" class="fa fa-envelope"> </a> | <a href="mailto:satishchandra.palakoti@sjsu.edu" class="fa fa-google-plus"> </a>
       <txt1><br>Not All rights reserved. Copyright &copy 2016.</txt1>

    <txt class="fa fa-warning"><u>NOTE:</u> Application purely developed to enhance skillset. Not meant for professional use.<txt>

    </nav>

  </footer>


</body>


</html>
